#SVGarea{
//	width: 100%;
	position: absolute;
	z-index: 10;
}
#RulerField{
	position: absolute;
	z-index: 20;
	width: 100%;
	height: 400px;
	background-color: white;
	opacity: 0.1;
}
#UIfield{
	position: relative;
	z-index: 30;
	width: 100%;
	height: 400px;
	background-color: white;
	opacity: 0.1;
}
